<div class="px-8 py-4">
  <h1 class="text-3xl tracking-wide">財務諸表 <span class="text-xl tracking-normal align-middle"><%= @start_date.strftime('%Y年%m月%d日') %> ~ <%= @end_date.strftime('%Y年%m月%d日') %></span></h1>
</div>

<div class="px-8 pb-8">
  <h2 class="text-2xl tracking-wide mb-4 text-center">貸借対照表</h2>
  <table class="w-full border-collapse border-2 mb-8">
    <colgroup>
      <col class="w-2/6">
      <col class="w-1/6">
      <col class="w-2/6">
      <col class="w-1/6">
    </colgroup>

    <% i = 0 %>
    <% loop do %>
    <% debit_line = @financial_statement.bs_debit_lines[i] %>
    <% credit_line = @financial_statement.bs_credit_lines[i] %>
    <% break if debit_line.blank? && credit_line.blank? %>

    <tr>
      <% if debit_line.present? %>
        <td>
          <div class="w-full h-full py-2 text-center">
            <%= debit_line[0] %>
          </div>
        </td>
        <td class="border-r">
          <div class="w-full h-full py-2 pr-2 text-right">
            <%= format_amount(debit_line[1]) %>
          </div>
        </td>
      <% else %>
        <td />
        <td class="border-r" />
      <% end %>
      <% if credit_line.present? %>
        <td class="border-l">
          <div class="w-full h-full py-2 text-center">
            <%= credit_line[0] %>
          </div>
        </td>
        <td>
          <div class="w-full h-full py-2 pr-2 text-right">
            <%= format_amount(credit_line[1]) %>
          </div>
        </td>
      <% else %>
        <td class="border-l" />
        <td />
      <% end %>
    </tr>

    <% i += 1 %>
    <% end %>
    <tr class="border-t">
      <td />
      <td class="border-r">
        <div class="w-full h-full py-2 pr-2 text-right">
          <%= format_amount(@financial_statement.bs_total_debit) %>
        </div>
      </td>
      <td class="border-l" />
      <td>
        <div class="w-full h-full py-2 pr-2 text-right">
          <%= format_amount(@financial_statement.bs_total_credit) %>
        </div>
      </td>
    </tr>
  </table>

  <h2 class="text-2xl tracking-wide mb-4 text-center">損益計算書</h2>
  <table class="w-full border-collapse border-2 mb-4">
    <colgroup>
      <col class="w-2/6">
      <col class="w-1/6">
      <col class="w-2/6">
      <col class="w-1/6">
    </colgroup>

    <% i = 0 %>
    <% loop do %>
    <% debit_line = @financial_statement.pl_debit_lines[i] %>
    <% credit_line = @financial_statement.pl_credit_lines[i] %>
    <% break if debit_line.blank? && credit_line.blank? %>

    <tr>
      <% if debit_line.present? %>
        <td>
          <div class="w-full h-full py-2 text-center">
            <%= debit_line[0] %>
          </div>
        </td>
        <td class="border-r">
          <div class="w-full h-full py-2 pr-2 text-right">
            <%= format_amount(debit_line[1]) %>
          </div>
        </td>
      <% else %>
        <td />
        <td class="border-r" />
      <% end %>
      <% if credit_line.present? %>
        <td class="border-l">
          <div class="w-full h-full py-2 text-center">
            <%= credit_line[0] %>
          </div>
        </td>
        <td>
          <div class="w-full h-full py-2 pr-2 text-right">
            <%= format_amount(credit_line[1]) %>
          </div>
        </td>
      <% else %>
        <td class="border-l" />
        <td />
      <% end %>
    </tr>

    <% i += 1 %>
    <% end %>
    <tr class="border-t">
      <td />
      <td class="border-r">
        <div class="w-full h-full py-2 pr-2 text-right">
          <%= format_amount(@financial_statement.pl_total_debit) %>
        </div>
      </td>
      <td class="border-l" />
      <td>
        <div class="w-full h-full py-2 pr-2 text-right">
          <%= format_amount(@financial_statement.pl_total_credit) %>
        </div>
      </td>
    </tr>
  </table>
</div>
