<div class="max-w-xl mx-auto">
  <div class="bg-white border-4 border-black shadow-2xl mt-12">
    <div class="bg-gray-100 px-8 py-6 border-b-4 border-black flex items-center space-x-2">
      <%= image_tag "/icon.svg", class: "w-12 h-12", alt: "ロゴ" %>
      <h1 class="text-3xl tracking-wide">KAIKEI</h1>
    </div>

    <%= form_with url: email_address_verifications_path, class: "p-8" do |form| %>
      <table class="w-full border-collapse border-2 mb-4">
          <th scope="row" class="border">
            <%= form.label :email_address, "メールアドレス", class: "block w-full border-black bg-gray-100 p-4 text-center" %>
          </th>
          <td class="border">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email",
                  class: "block w-full p-4 focus:outline-none focus:bg-yellow-100" %>
          </td>
        </tr>
      </table>

      <p class="mb-8">
        入力したメールアドレスにアカウント登録のための専用リンクを送信します
      </p>

      <div class="flex justify-center">
        <%= form.submit "送信", class: designer.primary_button(size: :lg) %>
      </div>

      <div class="text-center mt-6">
        <%= link_to "ログインはこちら", new_session_path, class: "text-sm underline hover:text-blue-600" %>
      </div>
    <% end %>
  </div>
</div>
