<div class="max-w-xl mx-auto">
  <div class="bg-white border-4 border-black shadow-2xl mt-12">
    <div class="bg-gray-100 px-8 py-6 border-b-4 border-black flex items-center space-x-2">
      <%= image_tag "/icon.svg", class: "w-12 h-12", alt: "ロゴ" %>
      <h1 class="text-3xl tracking-wide">KAIKEI アカウント登録</h1>
    </div>

    <%= form_with model: @user, url: users_path, class: "p-8" do |form| %>
      <%= form.hidden_field :email_address, value: @verification.email_address %>

      <p class="mb-8">
        メールアドレス <%= @verification.email_address %> で KAIKEI のアカウントを作成します
      </p>

      <div class="flex justify-center">
        <%= form.submit "アカウント登録", class: designer.primary_button(size: :lg) %>
      </div>
    <% end %>
  </div>
</div>
