<div class="max-w-4xl min-w-2xs sm:min-w-2xl mx-auto py-12">
  <div class="bg-white border-4 border-black shadow-2xl">
    <div class="bg-gray-100 px-8 py-6 border-b-4 border-black">
      <h1 class="text-3xl tracking-wide">事業所選択</h1>
    </div>

    <div class="flex flex-col items-center space-y-4 p-8">
      <% @companies.each do |company| %>
        <div class="w-xs sm:w-md">
          <% if @current_company == company %>
            <p class="w-full h-full text-center py-4 px-12 text-xl tracking-widest border-2 border-black">
              <%= company.name %></br>(ログイン中)
            </p>
          <% else %>
            <%= form_with url: session_path, method: :patch do |form| %>
              <%= form.hidden_field :company_id, value: company.id %>
              <%= form.submit company.name, class: "#{designer.primary_button(size: :lg)} w-full" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= link_to "新規事業所作成", new_company_path, class: "underline hover:text-blue-600" %>
    </div>
  </div>
</div>
