<div class="max-w-4xl min-w-2xs sm:min-w-2xl mx-auto py-12" data-controller="company-detail">
  <div class="bg-white border-4 border-black shadow-2xl">
    <div class="bg-gray-100 px-8 py-6 border-b-4 border-black">
      <h1 class="text-3xl tracking-wide">事業所設定</h1>
    </div>

    <%= form_with model: @company, local: true, method: "PUT", class: "p-8" do |form| %>
      <% if @company.errors.any? %>
        <div class="bg-red-50 border-2 border-red-800 text-red-800 px-6 py-4 mb-6">
          <strong>エラーが発生しました:</strong>
          <ul class="list-disc list-inside">
            <% @company.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if notice = flash[:notice] %>
        <div class="bg-gray-50 border-2 border-black px-6 py-4 mb-6">
          <%= notice %>
        </div>
      <% end %>

      <table class="w-full border-collapse border-2 mb-4">
        <tr>
          <th scope="row" class="border">
            <%= form.label :name, "事業所名", class: "block w-full h-full border-black bg-gray-100 py-2 text-center" %>
          </th>
          <td class="border">
            <%= form.text_field :name, autofocus: true, class: "block w-full h-full px-2 py-2 focus:outline-none focus:bg-yellow-100" %>
          </td>
        </tr>
        <tr>
          <th scope="row" class="border">
            <%= form.label :accounting_period_start_month, "会計年度の開始月", class: "block w-full h-full border-black bg-gray-100 py-2 text-center" %>
          </th>
          <td class="border">
            <%= form.select :accounting_period_start_month, (1..12).map { |v| [ "#{v}月", v ]}, {},
                { class: "block w-full h-full px-2 py-2 focus:outline-none focus:bg-yellow-100" } %>
          </td>
        </tr>
      </table>

      <div class="flex justify-center">
        <%= form.submit "保存", class: "bg-black hover:bg-gray-800 focus:bg-gray-700 focus:ring-2 focus:ring-gray-400 focus:outline-none text-white py-4 px-12 border-2 border-black text-xl tracking-widest cursor-pointer" %>
      </div>
    <% end %>

    <hr class="border-2" />

    <div class="p-8">
      <h2 class="text-2xl text-red-700 tracking-wide mb-4 text-center">事業所削除</h2>
      <button
        class="block py-4 px-12 mx-auto bg-white hover:bg-red-700 focus:bg-red-700 border-2 border-red-700 text-xl text-red-700 hover:text-white focus:text-white tracking-widest cursor-pointer"
        data-action="click->company-detail#confirmCompanyDestruction">
        事業所を削除する
      </button>
    </div>
    <dialog aria-labelledby="company-destruction-dialog-label" class="mx-auto my-auto" data-company-detail-target="companyDstructionDialog">
      <%= form_with model: @company, local: true, method: "DELETE", class: "p-8 space-y-4 border-4" do |form| %>
        <h1 id="company-destruction-dialog-label" class="text-3xl text-red-700 text-center tracking-wide">事業所削除</h1>
        <p>
          事業所を削除すると全ての会計データが削除され永久に失われます。
        </p>
        <p>
          削除する場合は、事業所名を入力してください（<%= @company.name %>）
        </p>
          <table class="w-full border-collapse border-2">
            <tr>
              <th scope="row" class="border">
                <label for="company-desruction-confirmation-text" class="block w-full h-full border-black bg-gray-100 py-2 text-center">事業所名</label>
              </th>
              <td class="border">
                <input type="text" id="company-desruction-confirmation-text" name="company-desruction-confirmation-text" required
                        class="block w-full h-full px-2 py-2 focus:outline-none"
                        data-action="input->company-detail#onCompanyDestructionConfirmationTextChange"
                        data-correct-confirmation-text="<%= @company.name %>">
              </td>
            </tr>
          </table>
          <div class="flex space-x-4 justify-center">
            <%= form.submit "削除",
                  class: "block py-4 px-12 bg-white focus:bg-red-700 border-2 border-red-700 text-xl text-red-700 focus:text-white tracking-widest cursor-pointer disabled:cursor-not-allowed disabled:opacity-50",
                  data: { turbo_submits_with: "削除中" } %>
            <button type="button"
              class="block py-4 px-12 bg-white focus:bg-black border-2 border-black text-xl text-black focus:text-white tracking-widest cursor-pointer disabled:cursor-not-allowed disabled:opacity-50"
              data-action="click->company-detail#closeCompanyDestructionDialog">
              キャンセル
            </button>
          </div>
      <% end %>
    </dialog>
  </div>
</div>
